/* * {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  } */
  
.container {
    max-width: 800px;
    margin: 20px;
    padding: 0;
  }

.object{
  margin-bottom: 5px;
}
.logo{
    margin: 20px;
    height: 200px;
    width: 200px;
}

.chooseType{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    color: #000000;

}