.logo{
    margin: 20px;
    height: 200px;
    width: 200px;
}

.chooseType{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    color: #000000;

}

.chooseType:hover{ background-color: grey; color:white;}

.chooseType:active {    
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }